/* Centrar el contenido principal */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 40vh; 
}

/* Estilo para el navbar */

.navbar-custom {
    background-color: #343a40;
}

.navbar-custom .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
    color: #ffc107;
}

/* Centrar el menú */
.navbar-nav {
    justify-content: center;
    flex-grow: 1;
    flex-direction: row; /*menu en fila*/
}

/* Imagen de fondo */
/* Imagen de fondo en la esquina inferior izquierda */
.fondo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: -1; /* Asegúrate de que quede detrás del contenido */
}

/* Imagen en la esquina inferior derecha */
.corner-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: -1; /* Asegúrate de que quede detrás del contenido */
}

/* Centrado del footer */
.centradofooter {
    text-align: center;
    margin-top: 20px;
}

/* Icono de WhatsApp */
#what {
    width: 30px;
    height: auto;
}

/* Contenedor general */
.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Estilos de las tarjetas */
.card-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 20%;
    margin: 0;
    border: none;
    border-radius: 0; 
    align-items: center;
}
.card-body {
    text-align: center;
}

/* Caja ajustable */
#cajita {
    width: 30px;
}

/* Media Queries */
/* Media Queries */
@media (max-width: 768px) {
    #what {
        width: 50px; /* Ajusta el icono de WhatsApp en pantallas pequeñas */
    }

    .fondo {
        width: 100%; /* La imagen de fondo ocupa todo el ancho */
    }

    .corner-image {
        width: 100px; /* Ajusta el tamaño para pantallas pequeñas */
    }

    .center {
        margin-top: 50px;
        height: 30vh; 
    }
    
    #card-center {
        width: 100%;
    }

    /* Estilos del Navbar */
    .navbar-toggler {
        display: none; /* Ocultamos el botón hamburguesa */
    }

    .navbar-nav {
        display: flex !important; /* Forzamos que el menú sea horizontal */
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 1rem; /* Reduce el tamaño del texto */
        padding: 5px 8px; /* Ajusta el espacio entre los elementos */
        white-space: nowrap; /* Evita que los enlaces se partan en varias líneas */
    }
}
