/* Navbar personalizado */
.navbar-custom {
    background-color: #343a40;
}

.navbar-custom .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
    color: #ffcc00;
}

/* Centrar el menú */
.navbar-nav {
    justify-content: center;
    flex-grow: 1;
    flex-direction: row; /*menu en fila*/
}

/* Estilos para las tarjetas */
.card-group {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card {
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.card-img-top {
    border-radius: 10px 10px 0 0; /* Redondear las esquinas superiores de la imagen */
    height: 200px;
    object-fit: cover;
}

/* Asegura que las tarjetas se vean bien en dispositivos más pequeños */
@media (max-width: 768px) {
    .card-group {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    .navbar-nav .nav-link {
        font-size: 1rem; /* Reduce el tamaño en móviles */
    }
}
